/* 限制代码块高度，超出部分显示滚动条 */
pre {
  max-height: 300px; 
  overflow-y: auto;
  overflow-x: auto;

  /* 防止水平滑动触发页面后退 */
  overscroll-behavior-x: contain;
  touch-action: pan-y; /* 只允许垂直滑动 */
  -webkit-overflow-scrolling: touch; /* 为iOS设备提供平滑滚动 */
} 


/* 代码块行号显示 */
pre {
  counter-reset: line;
}

pre code .line {
  counter-increment: line;
  position: relative;
  padding-left: 1.5rem;
}

pre code .line::before {
  content: counter(line);
  position: absolute;
  left: 0;
  text-align: right;
  color: #666;
  font-size: 1em;
  user-select: none;
}